/*! Fonts */

@font-face {
    font-family: 'tiempos_headlineblack';
    src: url('tiempos_headline-black-webfont.woff2') format('woff2'),
         url('css/tiempos_headline-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }
  
  @font-face {
    font-family: 'benton_sansregular';
    src: url('bentonsans-regular_sot-webfont.woff2') format('woff2'),
         url('css/bentonsans-regular_sot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
  }

  /*! Font styles */
  h1 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 56px;
    color: black;
    }
  
  h2 {
    font-family: 'tiempos_headlineblack', serif;
    font-size: 22px;
    color: black;
  }
  h3 {
    font-family: 'benton_sansregular', sans-serif;
    font-size: 16px;
    line-height: 34px;
    color: black;
  }
  h4 {
    font-family: 'benton_sansbold', sans-serif;
    font-size: 16px;
    text-transform: uppercase; 
    padding-bottom: 50px;
    color: #075d8f;
  }

  .headSea {
    max-width: 930px; 
	margin: 0 auto !important; 
	float: none !important; 
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  header {
    background-color: white;
    width: 100%;
    height: 30%
    margin; 0px !important; 
    max-width: 100% !important; 
	float: none !important; 
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

/*! Graphic styles */
  
  body {
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
    font-family: 'benton_sansregular', sans-serif;
  }
  body:before{
    content: '';
    position: absolute;
    top: 800px;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 4px;
    background-color: white;
  }
  body .entries{
    width: calc(100% - 80px);
    max-width: 800px;
    top: 200px;
    margin: auto;
    position: relative;
    left: -5px;
  }
  body .entries .entry{
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;
  }
  body .entries .entry .title{
    font-size: 32px;
    margin-bottom: 12px;
    position: relative;
    color: white;
  }
  body .entries .entry .title:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #ffffff;
    background-color: #1d1d1d;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
    z-index: 1000;
  }
  body .entries .entry .title.big:before{
    width: 24px;
    height: 24px;
    transform: translate(8px, -50%);
    }
  body .entries .entry .body {
    color: white;
    }
body .entries .entry .body p{
    line-height: 1.4em;
    }
body .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
    }
body .entries .entry:nth-child(2n) .title:before {
    left: -63px;
    }
body .entries .entry:nth-child(2n) .title.big:before {
        transform: translate(-8px, -50%);
        }